body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

#logo-viajes {
    width: 5%;
}

.navbar a {
    color: white !important;
}

.carousel-item img {
    height: 100vh;
}

.text-justify {
    text-align: justify;
}
